<main>
    <h2>Home</h2>

    {{#each books}}
    <div class="book">
        <h3>Titulo: {{this.title}}</h3>
        <p>Quantidade de páginas: {{this.pageqty}}</p>
        
        <div class="buttons">
            <a href="/book/{{this.id}}">Ver mais</a>
            <a href="/edit/{{this.id}}">Editar</a>
        </div>
    </div>       
    {{/each}}   
</main>